<!DOCTYPE html>
<html lang="en">
<head>
    <title>StudentHub-Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <!--Stylesheet-->
    <style media="screen">
        *,
        *:before,
        *:after{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: #080710;
        }
        .background{
            width: 750px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }
        .background .shape{
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }
        .shape:first-child{
            background: linear-gradient(#1845ad, #23a2f6);
            left: -73px;
            top: -85px;
        }
        .shape:last-child{
            background: linear-gradient(to right, #ff512f, #f09819);
            right: -67px;
            bottom: -380px;
        }
        form{
            margin-top: 50px;
            width: 700px;
            height: 810px;
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 65%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
        }
        form *{
            font-family: 'Poppins',sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }
        form h3{
            margin-top: -10px;
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }
        label{
            display: block;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;
        }
        input{
            display: block;
            height: 40px;
            width: 100%;
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }
        ::placeholder{
            color: #e5e5e5;
        }
        button{
            margin-top: 40px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 8px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }
        #Btn1{
            margin-top: 20px;
            margin-bottom: 0px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 8px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Alert box CSS */
      .alert {
          display: none;
          position: fixed;
          top: 70px;
          left: 50%;
          transform: translateX(-50%);
          padding: 10px 20px;
          background-color: #f44336;
          color: white;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          z-index: 1000;
      }
    

    </style>
</head>
<body>

    <% if (error) { %>
        <div class="alert" id="errorAlert">
             <%= error %>
        </div>
        <script>
            document.getElementById('errorAlert').style.display = 'block';
 
            setTimeout(function() {
                document.getElementById('errorAlert').style.display = 'none';
            }, 3000);
        </script>
     <% } %>

            <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
                <form action="/admin/user-profile" id="change-userdata-form" method="POST">
                        <h3>User Profile</h3>

                        <label for="Name">Name</label>
                        <input type="text" placeholder="Enter your name" id="name" name="name" value="<%= data.name %>">

                        <label for="Name">Username</label>
                        <input type="text" placeholder="Enter your username" id="username" name="username" value="<%= data.username %>" readonly>

                        <label for="Email">Email</label>
                        <input type="email" placeholder="Enter your email" id="email" name="email" value="<%= data.email %>" readonly>

                        <label for="Phone">Phone</label>
                        <input type="tel" placeholder="Enter your phone number" id="phone" name="phone" value="<%= data.phone %>">

                        <label for="Profession">Profession</label>
                        <input type="text" placeholder="Enter your profession" id="profession" name="profession" value="<%= data.profession %>">

                        <label for="Address">Address</label>
                        <input type="text" placeholder="Enter your address" id="address" name="address" value="<%= data.address %>">

                        <button type="submit">Save</button>
                        
                        <button type="button" id="Btn1" onclick="window.location.href='/admin'">Back</button>

                </form>
                
  <script src="https://kit.fontawesome.com/67fc93ad78.js" crossorigin="anonymous"></script>
 
</body>
</html>
